*{
  font-family: 'Poppins';
}


/* TASK_LIST STYLE----------------------------- */

.tasklist-container{
  flex: 3;
  padding: 20px;
  background-color: aliceblue;
}

.tasklist{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.104);
  border-radius: 20px; */
}

.search-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.tasklist-title{
  font-size: 30px;
}

.task{
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.104);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.task-title-holder{
  display: flex;
  justify-content: space-between;
}

.badge-holder{
  display: flex;
  margin-right: 20px;
  gap: 10px;
}

.task-title{
  max-width: 200px;
  overflow-x: hidden;
  white-space:nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
}

.task-des{
  color: grey;
  font-weight: 300;
  min-height: 80px;
}
.due-date-holder{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  gap: 10px;
}

.tasks-wrapper{
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.104); */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 500px;
  overflow-y: scroll;
}


/* CREATE_TASK STYLE------------------------ */

.create-task{
  flex: 3;
  background-image: url(https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80);
  background-position:left;
  background-size: cover;
  box-shadow: inset 20px -1px 23px -18px rgba(0, 0, 0, 0.277);
}

.form-hero{
  width: 250px;
  position: absolute;
  /* z-index: 9; */
  bottom: 20px;
  right: -20px;
}

.form-title{
  font-size: 30px;
  color: #fff;
}

.form{
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 400px;
  gap: 30px;
  /* color: #fff; */
  align-items: flex-start;
  padding: 60px 40px;
  background-color: #fff;
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter:blur(20px); */
  border-radius: 10px;
  box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.185);
  
}

.task-form{
  display: flex;
  gap: 30px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px; */
}

/* UPDATE ----------------------------------*/

.update-form{
  z-index: 3;
  position: absolute;
  background-color: aliceblue;
  left: 35%;
  top: 10%;
}


/* INITIAL PAGE ------------------------------------ */

.initial-hero{
  display: flex;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}

.initial-hero-photo{
  width: 400px;
}

/* .initial-dialog{
} */


@media only screen and (max-width: 1089px){
  .form{
    max-width: 350px;
  }
  .form-hero{
    width: 150px;
    right: 0px;
  }
  .badge-holder{
    margin-right: 0px;
    gap: 3px;
  }
  .task-title-holder{
    gap: 5px;
  }
  .task-title{
    font-size: 14px;
    font-weight: 600;
  }
  .task-des{
    font-size: 13px;
  }
  .initial-hero-photo{
    width: 250px;
  }
  .tasklist{
    padding: 10px;
  }
}

@media only screen and (max-width : 835px){
  .form{
    max-width: 500px;
  }
  .initial-hero-photo{
    width: 400px;
  }
  .form-hero{
    width: 250px;
    right: -20px;
  }
  .update-form{
    left: 22%;
    top: 12%;
  }
}

@media only screen and (max-width : 526px){
  .form{
    max-width: 300px;
  }
  .form-hero{
    width: 150px;
    right: 0px;
  }
  .badge-holder{
    margin-right: 0px;
    gap: 3px;
    flex-direction: column;
  }
  .task-title-holder{
    gap: 5px;
  }
  .task-title{
    font-size: 14px;
    font-weight: 600;
  }
  .task-des{
    font-size: 13px;
  }
  .initial-hero-photo{
    width: 250px;
  }
  .tasklist{
    padding: 10px;
  }
  .update-form{
    left: 15%;
    top: 10%;
  }
}

@media only screen and (max-width : 432px){
  .update-form{
    left: 10%;
    top: 10%;
  }
}
@media only screen and (max-width : 389px){
  .update-form{
    left: 5%;
    top: 10%;
  }
}

@media only screen and (max-width : 340px){
  .update-form{
    left: 0%;
    top: 3%;
  }
  .tasklist{
    padding: 0px;
  }
  .tasklist-container{
    padding: 20px 10px;
  }
}

@media only screen and (max-height : 678px){
  .task-form{
    padding: 40px;
  }
  .update-form{
    left: 4%;
    top: 0%;
    max-height: 500px;
  }
}
@media only screen and (max-height : 681px){
  .task-form{
    padding: 40px;
  }
  .update-form{
    left: 1%;
    top: 1%;
    gap: 20px;
  }
}